<button id="back-to-top" onclick="scrollToTop()">
    <img src="assets/up-arrows.png" width="40px" alt="Up arrow"/>
</button>

<style>
    #back-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
        background-color: #707375;
        color: white;
        border: none;
        padding: 20px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: opacity 0.3s;
    }

    #back-to-top:hover {
        background-color: #57595b;
    }
</style>
