<button id="back-to-top" onclick="scrollToTop()">
    <img src="assets/up-arrows.png" width="40px" height="40px" alt="Up arrow"/>
</button>

<style>
    #back-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 100%;
        background-color: #bac0c4;
        color: white;
        padding: 0px;
        border: 20px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        font-size: 16px;
        transition: opacity 0.3s;
        display: none
    }

    #back-to-top:hover {
        background-color: #9c9fa3;
    }
</style>
