<header class="site-header">
    <div class="container">
      <h1>
        <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
      </h1>
  
      <!-- Custom Links -->
      <nav class="top-links">
        <img src="{{ '/assets/github-mark.png' | https://github.com/ramosrenzo/COVID-LLM }}" width="40px" target="_blank" alt="GitHub"/>
      </nav>
    </div>
  </header>
  
  <style>
    .top-links {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .top-links ul {
        list-style-type: none;
        padding-left: 0;
    }

    .top-links li {
        margin-right: 15px;
    }

    .top-links a {
        text-decoration: none;
        color: #007bff;
    }

    .top-links a:hover {
        text-decoration: underline;
    }
</style>